In [1]:
print("hello guys")

hello guys

In [1]:
print("hello guys what  3434 are you doing")

hello guys what  3434 are you doing

In [2]:
print('MY name is sapna rajput')

MY name is sapna rajput

In [5]:
a=10
b=20
c=a*b
print(c)

200

In [3]:
a='my name 4345 34.45, 43-34j ,is archu'
print(a)

my name 4345 34.45, 43-34j ,is archu

In [4]:
print("abcdefg")

abcdefg

In [4]:
input("what are u doing now plzz tell" )

what are u doing now plzz tell423

'423'

In [9]:
a=input("whats your problem " )
b=input("my problm is you " )

whats your problem you
my problm is you your family

In [5]:
a=int(input("enter  your 1st number"))
b=int(input("enter your 2nd  number"))

enter  your 1st number3902309
enter your 2nd  number399399

In [15]:
a=input("enter your 1st mobile number " )
b=input("enter your 2nd mobile number " )
c=a+b
print("addition",c);

enter your 1st mobile number 94993943
enter your 2nd mobile number 8948903890
addition 949939438948903890

In [18]:
p=int(input("enter your first number"))
q=int(input("enter your second number"))
r=p+q
print("addition",r);

enter your first number122
enter your second number122
addition 244

In [24]:
fullname =input("enter your full name " )
age=input("enter your age")
qualification=input("enter your qualification")
print(fullname,age,qualification)

enter your full name sapna rajput
enter your age20
enter your qualificationbsc
sapna rajput 20 bsc

In [25]:
a=2
b=5
c=a+b
print(c)

7

In [ ]:
# what is git and python plzz tell me about its

In [5]:
"""my 'name is sapna rajput. i am form rajgarh.
i want to learn many skills because now we are all know that without
comunication skill i can not develop our 'personlity. so i will try my 
best"""

"my 'name is sapna rajput. i am form rajgarh.\ni want to learn many skills because now we are all know that without\ncomunication skill i can not develop our 'personlity. so i will try my \nbest"

In [15]:
a=5 
b=10
c=a+b
print("addition",a,"and",b,"=" ,c)

addition 5 and 10 = 15

In [1]:
print("hear a ")

hear a

In [2]:
print("hello frnds whatsup")

hello frnds whatsup

In [4]:
a=10
b=10
c=a+b
print('addition',a,"and",b,"=",c);

addition 10 and 10 = 20

In [11]:
x=5
y=5
z=x+y
print('addition',z);

addition 10

In [12]:
name=input("enter your full name")
print("welcome to",name)

enter your full namesapna
welcome to sapna

In [17]:
a="sapna"
b="rajput"
print(a,b)

sapna rajput

In [16]:
x=input("enter your name " )
y=input("enter your number " )

enter your namesapna
enter your number787988080

In [23]:
a,b,c,d,e="orange","red","pink","yellow","green"
print(a+b+c+d)

orangeredpinkyellow

In [7]:
print("file name sapna")

file name sapna

In [8]:
print("codesession class")

codesession class

In [9]:
name=input("what is your name ")
print("my name is", name)

what is your name sapna
my name is sapna

In [10]:
a= input("enter your mobile number")
print(a)

enter your mobile number8478545878
8478545878

In [11]:
a=input("enter your 1st mobile number")
b=input("enter your 2nd mobile number")
c=a+b
print("your mobile number is",c)

enter your 1st mobile number8983498900
enter your 2nd mobile number787857858
your mobile number is 8983498900787857858

In [12]:
name=input("enter your full name" )
print(name)

enter your full namesapna rajput
sapna rajput

In [13]:
name=input("enter your name " )
print("welcoem miss",name);

enter your name sappu
welcoem miss sappu

In [3]:
a=input("enter your 1st number")
b=input("enter your 2nd number")
c=a+b
print("addition" ,c)

enter your 1st number11
enter your 2nd number11
addition 1111

In [4]:
name=input("your name")
print(name)

your nameanisha
anisha

In [5]:
mobile=input("enter your mobile number")
print(mobile)

enter your mobile number984984989
984984989

In [17]:
name=input("what is your full name")
age=input("what is your age")
qualification=input("your qualification")
print(name,age,qualification)

what is your full namesapna
what is your age20
your qualificationbcs
sapna 20 bcs

In [8]:
# python is a programing language

In [9]:
"""jkasjksjdkljklsjkl
ksdjlsdjklsd
kdsjkjsdkjkljsd
jsdkjsdkjfklsd
kdsjsj
sdkjlsdjklfj

jsdkljdskj
sdjksdjkf'jsdk
sdjfklsdjkflsd
jsdkljfks"""

"jkasjksjdkljklsjkl\nksdjlsdjklsd\nkdsjkjsdkjkljsd\njsdkjsdkjfklsd\nkdsjsj\nsdkjlsdjklfj\n\njsdkljdskj\nsdjksdjkf'jsdk\nsdjfklsdjkflsd\njsdkljfks"

In [12]:
a="sapna"
b="sappi"
print(a,b)

sapna sappi

In [14]:
name="sappu"
print(name)

sappu

In [16]:
a=b=c="yello"
print(a+b+c)

yelloyelloyello

In [17]:
age=20
Age=30
AGE=40
print(age,',',Age,',',AGE)

20 , 30 , 40

In [18]:
a,b,c,d,="red","orrange","yello","pink"
print(a,b,c,d)

red orrange yello pink

In [19]:
number_1=10
number_2=20
number_3=30
a=number_1+number_2+number_3
print(a)

60

In [27]:
# None 
x=None
y=None
print(type(y))

<class 'NoneType'>

In [3]:
x=3
x**2

9

In [1]:
x=10
x+= 1
print(x)

11

In [2]:
x=12
x-= 10
print(x)

2

In [28]:
y=3
y-= 2
print(y)

1

In [3]:
x=32
x *= 5
print(x)

160

In [4]:
x= 45
x /= 5
print(x)

9.0

In [5]:
x=32
x%= 4
print(x)

0

In [6]:
x=43
x //= 3
print(x)

14

In [7]:
x=2343
x **=2
print(x)

5489649