In [6]:
number_1=10
number_2=30
x=number_1+number_2
print(x)

40

In [5]:
 x=input("what is your name ")
y=input("what is your school name")
print(y)

what is your name sapna rajput
what is your school nameswami ganga bharti senior sec school

In [ ]:
*Data type
(1)None
(2)Numeric
(3)text

In [3]:
 x=None
y=None
print(x ,y)

None None

In [8]:
x=1
y=None
print(type(y))

<class 'NoneType'>

In [34]:
x=4324
y=443.55
z=34.35j
r=x+y+z
print(r)
print(x,type(x))

(4767.55+34.35j)
4324 <class 'int'>

In [35]:
x="hii hello world " 
y="who is she"
print(x,type(x))
print(y,type(y))

hii hello world  <class 'str'>
who is she <class 'str'>

In [41]:
x=77589
y=75878
z=49.556
q=45-5j
w=x+y+z+q
print(w)
print(x,type(x))
print(y,type(y))
print(z,type(z))
print(q,type(q))

(153561.556-5j)
77589 <class 'int'>
75878 <class 'int'>
49.556 <class 'float'>
(45-5j) <class 'complex'>

In [43]:
p=5876.6856
q=894875
r=355-56j
s=p+q+r
print(p,type(p))
print(s)

5876.6856 <class 'float'>
(901106.6856-56j)

In [46]:
s=True
p=75-8j
q=s+p
print(q)
print(s,type(s))
print(p,type(p))

(76-8j)
True <class 'bool'>
(75-8j) <class 'complex'>

In [49]:
x="who"
y='true'
z=x+y
print(z)
print(x,type(x))
print(y,type(y))

whotrue
who <class 'str'>
true <class 'str'>

In [51]:
x=43343
y=45.676
z=-45+56j
a=x+y+z
print(a)
print(x,type(x))
print(y,type(y))
print(z,type(z))

(43343.676+56j)
43343 <class 'int'>
45.676 <class 'float'>
(-45+56j) <class 'complex'>

In [53]:
x="where are u from " 
y="i am from alwar "
print(x,y)
print(x,type(x))

where are u from  i am from alwar
where are u from  <class 'str'>

In [56]:
x="sapna"
y="rajput"
print(x,y)

sapna rajput

In [57]:
x=15
x="python"
print(x)

python

In [59]:
a=r"how are you/n fine"
print(a)

how are you/n fine

In [60]:
a="what  is  your  name"
print(len(a))
print(a[10])

20
y

In [12]:
x=54653
y=543
z=536
a=x+y+z
print(a)

55732

In [28]:
x=-3+5j
y=3-8j
z=566.65
s=True
r=x+y+z+s
print(x,type(x))
print(y,type(y))
print(z,type(z))
print(s,type(s))

(-3+5j) <class 'complex'>
(3-8j) <class 'complex'>
566.65 <class 'float'>
True <class 'bool'>

In [29]:
x=True
print(type(x))

<class 'bool'>

In [33]:
s=88477
d=-3-8j
h=464.54
print(s,type(s))
print(d,type(d))
print(h,type(h))
print(s,d,h)

88477 <class 'int'>
(-3-8j) <class 'complex'>
464.54 <class 'float'>
88477 (-3-8j) 464.54

In [28]:
a=True
b=884.78
print(a+b)
print(type(a))

885.78
<class 'bool'>

In [32]:
q=454543
w=43567
print(q,type(q))

454543 <class 'int'>

In [6]:
x=input("enter a number")
y=input("enter your name")
print(x)
print(y)

enter a number44445
enter your namerajni
44445
rajni

In [29]:
x=input("enter a number")
y=input("enter a number")

enter a number87
enter a number88

In [10]:
x = input("enter a number")
y= "10"
z = x+y
print("sum of x and y is :",z)

enter a number123
sum of x and y is : 12310

In [16]:
sanju = input(" enter your school name :") # input("school name")
print("sanju your school name is : ",sanju)

 enter your school name :samnju
school namesasa
sanju your school name is :  samnju

# **string
1)string
2)indexing in string 
3) string mathod/function
4)string formating

In [70]:
"""single quotes use inside double quotes"""
a = "welcome to 'all of you'"
print(a)

welcome to 'all of you'

In [71]:
"""double quotes use inside single quotes"""
b='my hobby "is listening music"'
print(b)

my hobby "is listening music"

In [83]:
a = "this 'is like' drama"
print(a)

this 'is like' drama

In [30]:
b="i ike tiktok"
print(b)
print(type(b))

i ike tiktok
<class 'str'>

In [98]:
a= """jkdjkjkdvkjkf
kjfkjksjfkj"""
print(a)

jkdjkjkdvkjkf
kjfkjksjfkj

# /n use for new line

In [100]:
a="hello world \n sapna"
print(a)

hello world
 sapna

In [31]:
b="my princess name \n saanvi"
print(b)

my princess name
 saanvi

In [34]:
c=r"my cutie \n shanu"
print(c)

my cutie \n shanu

In [102]:
a="what are u doing now \n i am sleeping"
print(a)

what are u doing now
 i am sleeping

In [108]:
b=R"i am soo excited \n do u know"
print(b)

i am soo excited \n do u know

# **indexing in string

In [115]:
a="how are you payal"
print(len(a))
print(a[10])
print(a[-2])
print(a[8])
print(a[7])
print(a[-5])

17
u
a
y

p

In [41]:
a="radha doing some work"
print(a)
print(len(a))
print(a[-6])
print(a[7])

radha doing some work
21
e
o

In [124]:
b="i am doing some work can u help me"
print(len(b))
print(b[-15])
print(b[17])

34
k
o

# **string mathod function

In [17]:
a="hi hello"
print(len(a))

8

In [42]:
a="hi manvi how are you"
print(len(a))

20

In [5]:
b='whta is the name of this type animals'
print(len(b))
print(b[25])
print(b[-34])

37
t
a

In [133]:
# the lower()mathod returnes the string in lower case.
b="HELLO WORLD"
print(b.lower())

hello world

In [6]:
a="WHTSAPP GUYS HOW ARE YOU"
print(type(a))
print(a.lower())

<class 'str'>
whtsapp guys how are you

In [134]:
a="I AM A PROGRAMMER"
print(a.lower())

i am a programmer

In [137]:
#the upper mathod()returens the string in upper case.
a="i want to  be a software doveloper"
print(a.upper())

I WANT TO  BE A SOFTWARE DOVELOPER

In [7]:
x="hello frnds what are u doing"
print(x.upper())

HELLO FRNDS WHAT ARE U DOING

In [ ]:
# the strip mathod()remove the any whitespace from the begining or ending the string

In [140]:
a= "hii, hello "
print(a.strip())

hii, hello

In [8]:
z="  hello world wide web  "
print(z.strip())

hello world wide web

In [138]:
a="  hello what happend  "
print(a.strip())

hello what happend

In [9]:
y='mr and mrs how r you'
z='i am fine'
print(y.lstrip(),z)

mr and mrs how r you i am fine

In [ ]:
#lstrip

In [146]:
a="  where are u from dear ? "
b= "i am form india"
print(a.lstrip(),b)

where are u from dear ?  i am form india

In [ ]:
#the rplace() mathod replace a string with another string

In [149]:
a="hello,world ,world,world"
print(a.replace("world","city"))

hello,city ,city,city

In [12]:
b="math based on the latest syllabus"
print(b.replace("math","chemistry"))

chemistry based on the latest syllabus

In [14]:
s="sapna frnds name abhi mithu poonm"
print(s.replace("poonm","abhi"))

sapna frnds name abhi mithu abhi

In [152]:
b="my name is smayra, smyra, sappu ,sappu"
print(b.replace("smayra","sapana"))

my name is sapana, smyra, sappu ,sappu

In [ ]:
#split =the mathod split is the string into substring if it finds

In [153]:
a="hello ,world "
b=a.split("l")
print(b)

['he', '', 'o ,wor', 'd ']

In [19]:
x="abhi and anita"
y=x.split('a')
print(y)

['', 'bhi ', 'nd ', 'nit', '']

In [22]:
a="mister india"
print(a.capitalize())

Mister india

In [154]:
name="my name is sapna"
age=name.split("a")
print(age)

['my n', 'me is s', 'pn', '']

In [ ]:
#capitalize

In [15]:
a = 'hello gyus' 
print(a.capitalize())

Hello gyus

In [27]:
a="""my name is"sapna and what"is your name"""
print(a)

my name is"sapna and what"is your name

In [31]:
a="hello world \n sapna"
print(a)

hello world
 sapna

In [29]:
b=r"what are you doing\n dancing"
print(b)

what are you doing\n dancing

In [34]:
a="hello sapna what is your name"
print(len(a))
print(a[-8])

29
o

In [35]:
a="what is this"
print(a.upper())

WHAT IS THIS

In [36]:
a="HELLO SAPPU "
print(a.lower())

hello sappu

In [37]:
a=" what are you saying   "
print(a.strip())

what are you saying

In [38]:
a="what is name"
b="my name is pappu"
print(a.lstrip(),b)

what is name my name is pappu

In [40]:
a="hello,whole,well,well,whole"
print(a.replace("well","sappu"))

hello,whole,sappu,sappu,whole

In [41]:
a="hii good"
b=a.split("o")
print(b)

['hii g', '', 'd']

In [42]:
a="here come"
print(a.capitalize())

Here come

In [46]:
a="what,which"
print(a.strip())

what,which

# **string formating

In [32]:
a=int(input(''))
b=int(input(''))
print('my age is',a-b )
print(f'my age is ,{a-b} ,{a}') 

x="this article {1} is written in {0} {2} "
print(x.format("hi","a",b))

10
4
my age is 6
my age is ,6 ,10
this article a is written in hi 4

In [51]:
a=13-9j
print('i am %f from codesession academy' % 34.3,12)
print('hi',a,'how r you')

i am 34.300000 from codesession academy 12
hi (13-9j) how r you

In [80]:
print("i am %s from %s %.4f" %("sapna","alwar",12))

i am sapna from alwar 12.0000

In [24]:
a=input("enter your name")
print("my name is",a)
print(f"my name is,{a}")

enter your namesapna
my name is sapna
my name is,sapna

In [26]:
a="sunita write {} word in {} diary with {}"
print(a.format("some","own","pen"))

sunita write some word in own diary with pen

In [33]:
a= input("somthing is going wrong")
print("it is no possible",a)

somthing is going wrongcreating
it is no possible creating

In [54]:
a=int(input(" "))
b=int(input(" "))
print('my  number is ', a-b  )
print(f'my number is', {b} )

 4784
 22
my  number is  4762
my number is {22}

In [2]:

x="accourding to {1} my way that {2} is not good {0}"
print(x.format("sapna","hii","hello"))

accourding to hii my way that hello is not good sapna

In [17]:

print('i am %s 2.%f from codesession %s in'%(4343+9999j,10.55,"acadmay"))

i am (4343+9999j) 2.10.550000 from codesession acadmay in

In [29]:
a=879498
print(type(a))
print("i mean 3,%f to like a %s for my choise" %(7636764398,"puzzle"))
print("this", a, "like a numbe")

<class 'int'>
i mean 3,7636764398.000000 to like a puzzle for my choise
this 879498 like a numbe

In [39]:
x,y,z,w = "sapna" ,"codesession" ,"344","34"
print('i am %s from %s and start %s just %s'%(x,y,z,w))

i am sapna from codesession and start 344 just 34

In [45]:
a="welcome to my hotel"
b=545-4343j
print("hi",a,b,"thnks")

hi welcome to my hotel (545-4343j) thnks

In [50]:
print('my work is %s' %'codewrite')
print('my name is %s' %  'sapna')

my work is codewrite
my name is sapna

In [52]:
a=34
print(type(a))
print('i wrote %f book today.' %a)
print('i wrote %f poem today.' %4)

<class 'int'>
i wrote 34.000000 book today.
i wrote 4.000000 poem today.

In [60]:
x="my name is sapna rajput {2} and she likes{0} with {1} singing"
print(x.format("and","singing","new" ))

my name is sapna rajput new and she likesand with singing singing

In [2]:
x=input("enter 1st number")
y=input("enter 2nd number")
print('my 1st number is',x)

enter 1st number857498
enter 2nd number433
my 1st number is 857498

In [9]:
x=int(input(''))
a=int(input(''))
print('my age is',a)
print('my age is',x-a)
print(f"my age is,{x},{y}")

748
332
my age is 332
my age is 416
my age is,748,433

In [11]:
print('my favourit %s is %s i love this %s'%('pink','because',10))

my favourit pink is because i love this 10

In [27]:
print('my number %s this is %f like'%(4333333333,34.44))

my number 4333333333 this is 34.440000 like

In [33]:
a,b,c,d =289,43.43,43-8j,"try"
print('my no %f uhfd %f  hfdjhfkjd %s kjkdfjk jkkjkj %s'%(a,b,c,d))

my no 289.000000 uhfd 43.430000  hfdjhfkjd (43-8j) kjkdfjk jkkjkj try

In [45]:
print('my copy %i mentain.' % 32.44)

my copy 32 mentain.

# casting

In [41]:
a=10
b=56
c=a+b
print(c)

66

In [12]:
a=input("enter a number")
b=int(a)
c=float(b)
print(a)
print(c)
print(b)

enter a number5556
5556
5556.0
5556

In [1]:
a=input("enter a number")
b=complex(a)
print(b)
c=float(a)
print(c)
d=complex(c)
print(d)

enter a number34
(34+0j)
34.0
(34+0j)

In [15]:
x=input("enter  1st number")
y=float(x)
z=int(y)
print(y)
print(z)

enter  1st number4
4.0
4

In [3]:
x=int(2)      #integer casting-int() 
y=int(4.5)
z=int(3.5)    #can't convert complex to int
print(x)    #can't convert complex to flot
print(z)
print(y)

2
3
4

In [23]:
a=32.45
b=45+5j
c=int(a)
print(c)
print(b)

32
(45+5j)

In [32]:
a=float(53)
b=float("34.34")      #float casting-float()
c=float(44.3)
d=float(-34)
print(d)
print(c)
print(a)
print(b)
print(type(a),type(b),)

-34.0
44.3
53.0
34.34
<class 'float'> <class 'float'>

In [1]:
a=("43.34")
b=("-43")
c=("435")                  #########ask a question
d=("5")
print( r"a,'\n',b,'\n',c,'\n',d")
print(type(a),type(b),type(c),type(d))

a,'\n',b,'\n',c,'\n',d
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [40]:
a=str("455555555")
b=str("34.43")
c=str("44-4j")
d=str("4355")
print(a)
print(b)
print(c)
print(d)
print(type(a),type(b),type(c),type(d))

455555555
34.43
44-4j
4355
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

# operation

In [51]:
# + addition        x+y
# - subtraction     x-y
# * multiplication  x*y
# / division        x/y
# % modules         x%y
# ** exponentitation x**y
# // floor division  x//y

number_1 = input("enter your first number : ")
number_2 = input("enter your second number : ")
a =int(number_1)
b = int(number_2)
c = a+b
d = a-b
f =a/b
g=a%b
h=a**b
print(f"sum of {a} or {b} is = {c}")
print(f"sub of {a} or {b} is = {d}")
print(f" division of {a} or {b} is ={f}")
print(f" module of {a} or {b} is = {g}")
print(f"exponentitation {a} or {b} is = {h}")

enter your first number : 10
enter your second number : 20
sum of 10 or 20 is = 30
sub of 10 or 20 is = -10
 division of 10 or 20 is =0.5
 module of 10 or 20 is = 10
exponentitation 10 or 20 is = 100000000000000000000

In [8]:
a=int(input("enter a number"))
b=int(input("enter number"))
a=2
b=3
c=a+b
d=a-b
e=a*b
f=a/b
g=a**b
h=a//b
i=a%b
print(f"sum of {a} or {b}={c}")
print(f"sub of {a} or {b}={d}")

enter a number5
enter number10
sum of 2 or 3=5
sub of 2 or 3=-1

# b. python assignment operators
assigment operators are used to assign value to vribles

In [31]:
num=45.4
name=56-8j
print(f'my number is, {num}, {name}')

my number is, 45.4, (56-8j)

In [48]:
x="sapna"
y=8889
print(f"my name is {x},my number is {y}")

my name is sapna,my number is 8889

3

In [36]:
x=32
y=323.32
print(f"my age is {x+y}")
print(f"my age is {x-y}")

my age is 355.32
my age is -291.32

In [37]:
a="sapna"
b="rajput"
print(f" my name is {a} {b}")

 my name is sapna rajput

# c.python comparison operators
comparison operators are used to compare two value:

In [39]:
a=45
b=67
print(a==b)
print(a!=b)
print(a>=b)
print(b>=a)
print(b<=a)

False
True
False
True
False

In [40]:
a=45
b=45
print(a==b)
print(a!=b)
print(a>b)

True
False
False

In [1]:
a=43
b=43
print(a==b)
print(a!=b)
print(a>=b)
print(b>=a)
print(a<=b)
print(b>=a)

True
False
True
True
True
True

In [ ]:
==  equal                     x==y
!   not Equal                 x!=y
>   greater than              x>y
<   less than                 x<y
>=  greater than or equal to  x>=y
<=  less than or equal to     x<=y

# python logical operators

 logical operater are used to combine condition statemantes

In [ ]:
and  Returnes true if both statementes are true
or   returnes true if one of the statementes is true
not   reverse the result, returnes false if the result is true

In [17]:
a=23
b=34
c=67
print(a>b and b<a)

False

In [36]:
a=34
b=45
c=23
print(a<b and b>a)

True

In [37]:
a=34
b=32
c=22
print(a>b and b<c)

False

In [13]:
x=78
y=33
z=34
print(not(x<y and z<y ))

True

In [38]:
x=23
y=45
z=36
print(not(y>x and x<z))

False

In [39]:
x=45
y=67
z=12
print(not(x>z and y<z))

True

# logical or operation

In [6]:
a=34
b=22
c=35
print(a<c or b<a)

True

In [14]:
a=34
b=45
c=33
print(b<a or a<c)

False

In [40]:
a=32
b=19
c=34
print(a>b or c<b)

True

In [41]:
a=34
b=90
c=12
print(not(a>c or b<c))

False

In [16]:
a=34
b=3
c=42
print(not(a>b or c<a))

False

In [9]:
a=45
b=23
c=67
print(not(a<b or b>a))

True

In [10]:
a=67
b=34
c=23
print(not(a>b or b>c))

False

In [35]:
a=18
b=18
c=10
print(a>b or b>a)

False

# python identity operators

In [ ]:
idenity operations are used to compare the obeject,not if they are actually
the same object,with the same memory location:

In [42]:
'''is     return true if both veriable are not the same object  x is y '''
x=44
y=44
print(x is y)

''' is not    return the if both veriablr are not the same object x is not y'''
x=43
y=45
print(x is not y)

True
True

In [15]:
x=20
y=267
print(x is y)
print(" id x  :", id(x))
print(" id  y  :",id(y))


x=4545
print("id x   :",id(x))
print(x,y)

False
 id x  : 1930528224
 id  y  : 91341792
id x   : 91341424
4545 267

In [11]:
x=32
y=43
print(x,y)
print("id x  :",id(x))
print("id x  :",id(y))

32 43
id x  : 1558939296
id x  : 1558939472

In [10]:
x=34
x=4
print("id x  :",id(x))
print("id x   :",id(x))

id x  : 1558938848
id x   : 1558938848

In [24]:
x=34
x=20
x1=int(x)
print(id(x))
print(id(x))
print(x is x)
print(x is not x)

1558939104
1558939104
True
False

In [23]:
x=20
y=20
print(x is y)
print(x is not y)
print(id(x))
print(id(y))

True
False
1558939104
1558939104

In [30]:
x=67
z=56
y=34
print(id(x))
print(id(z))
print(id(y))
print(x is z)
print(x is not z)

1558939856
1558939680
1558939328
False
True

In [33]:
x=67
y=74
print("id x :",id(x))
print("id  y :",id(y))
print(x,y)

id x : 1558939856
id  y : 1558939968
67 74

# python membership operators

membership operators are used to test if a sequence is presented in an object:

In [44]:
''' in    returns true if a sequencee with the specified value is present in the object'''

l=[ 1,2,3,4]
e=5
print(e in l)



''' not in     returns true if a sequence with the specified value is  not present in the obeject'''
l=[1,2,3,4]
e=4
print(e not in l)

False
False

In [46]:
x="sapna is a good d girl"
y="pna"
print(y in x)

True

In [48]:
str_1="sapana"
str_2="as"
print(str_2 in str_1)

False

In [9]:
x={2332,324,344,23,43}
y=2
print(y in x)

False

In [56]:
x=342 ,54 ,35, 35 ,343, 453
y=34
print(y in x)

False

In [60]:
x="rtreterte"
y="re"
print(y in x)

True

In [13]:
x=33,34,4,3,2
y=345
print(y  not in x)

True

# collecton datatype
there are four collection data types in the python programming language

(1)list  : [squrae brackets]
(2)tuple : (round brackets)
(3)set   : {curly brackets}
(4)dictionary : {"key":value,}     


there are four collection data types in the python programming language.

In [ ]:
(1) list is a collection which is orderd indexed and changeable allow
duplicate members

In [ ]:
(2)touple is a collection which is ordered indexed and unchangeble allow duplicate 
members

In [ ]:
(3)set is a collection which is unindexed ,unordered and changeable no duplicate
members

In [ ]:
(4)dictionary is a collection which is unordered but indexed with keys,and changeble
no duplicate keys

# choosing a collection type it is necessary to understand the properties of that 
type

In [17]:
this_list=(2,4,5,7,"sappu",45.7)
this_touple=(2,4,5,'payl')
this_set={4,6,8}
this_dict={'sappu':1,'tanwar':2,3:3}

print(type(this_dict))
print(type(this_list))
print(this_list[3])
print(this_touple[3])

print(this_dict[3])

<class 'dict'>
<class 'tuple'>
7
payl
3

1  # list

In [ ]:
a list is a collection which is ordered and changeable in python lists are
written with square brackets.

In [ ]:
a.getting started
b.list methods
c.conditional statements on list

# 1(a)getting started

In [19]:
# 'creating a list'
this_list = ["apple", 4 , 'sapna' ,True, [1,2,3,4] , (10,20) , {'brand':'honda','name':'city',}]
print('this_ list:' , this_list)


print(this_list[4])
print(this_list[6])
print(this_list[-2])
print(this_list[-5][-1])
 
'accessing an element:'
print('element at position 0:', this_list[0])
print('element at position 5:',this_list[5])




'change item value:'
print('before:',this_list)
this_list[0]='mango'
print(id(this_list))
print('after:', this_list)
print(id(this_list))

'getting a sub list'
print("this_list:",this_list[0:3])#(start:end)
print(this_list[0:5:2])
print(this_list[0:5:3])
print(this_list[0:2])
print(this_list[2::])

this_ list: ['apple', 4, 'sapna', True, [1, 2, 3, 4], (10, 20), {'brand': 'honda', 'name': 'city'}]
[1, 2, 3, 4]
{'brand': 'honda', 'name': 'city'}
(10, 20)
a
element at position 0: apple
element at position 5: (10, 20)
before: ['apple', 4, 'sapna', True, [1, 2, 3, 4], (10, 20), {'brand': 'honda', 'name': 'city'}]
104758504
after: ['mango', 4, 'sapna', True, [1, 2, 3, 4], (10, 20), {'brand': 'honda', 'name': 'city'}]
104758504
this_list: ['mango', 4, 'sapna']
['mango', 'sapna', [1, 2, 3, 4]]
['mango', True]
['mango', 4]
['sapna', True, [1, 2, 3, 4], (10, 20), {'brand': 'honda', 'name': 'city'}]

In [159]:
name_=[(23,2),65,456.67,{8,6,9,0,9,0,9},"sapna","rajput",[2,5,56],{'12':'sappu','34':'sappuu'}]
print('name_',name_)


print(name_[4][-3])
print(name_[7])
print(name_[5][0])
print(name_[-1])
print(name_[-1]['12'])


'accessing an element'
print('elememt at position 1:',name_[1])
print('element at position 2:',name_[6])
print('element at position 3:',name_[7])



'change item value'
print('before this:',name_)
name_[5]=(4,5,5)
print('after this:',name_)

'getting a sub list'
print(name_[0:3])
print(name_[0:3:1])
print(name_[0:1])

name_ [(23, 2), 65, 456.67, {8, 9, 6, 0}, 'sapna', 'rajput', [2, 5, 56], {'12': 'sappu', '34': 'sappuu'}]
p
{'12': 'sappu', '34': 'sappuu'}
r
{'12': 'sappu', '34': 'sappuu'}
sappu
elememt at position 1: 65
element at position 2: [2, 5, 56]
element at position 3: {'12': 'sappu', '34': 'sappuu'}
before this: [(23, 2), 65, 456.67, {8, 9, 6, 0}, 'sapna', 'rajput', [2, 5, 56], {'12': 'sappu', '34': 'sappuu'}]
after this: [(23, 2), 65, 456.67, {8, 9, 6, 0}, 'sapna', (4, 5, 5), [2, 5, 56], {'12': 'sappu', '34': 'sappuu'}]
[(23, 2), 65, 456.67]
[(23, 2), 65, 456.67]
[(23, 2)]

In [20]:
x=["plan",'function',(32,234,4, 43),{5,54,455,6,64,4},45.66,54-6j,{'plan':'12','schime':23424,'tv':24.45}]
print(x)
print(type(x))

print(x[5])
print(x[-4])
print(x[2][-3])
print(x[2][-1])

print('element of position 1:',x[5])
print('element of position3:',x[4])
print('element of position 8:',x[-4])



print('before this:',x)
x[3]=(34,43.4,4+5j)
print('after this:',x) 
x[3]=10
print(x)




print(x[0:4])
print(x[3:4:5])
print(x[1:2:3])
print(x[0:1:2])
print(x[0:3:5])

['plan', 'function', (32, 234, 4, 43), {64, 4, 5, 6, 455, 54}, 45.66, (54-6j), {'plan': '12', 'schime': 23424, 'tv': 24.45}]
<class 'list'>
(54-6j)
{64, 4, 5, 6, 455, 54}
234
43
element of position 1: (54-6j)
element of position3: 45.66
element of position 8: {64, 4, 5, 6, 455, 54}
before this: ['plan', 'function', (32, 234, 4, 43), {64, 4, 5, 6, 455, 54}, 45.66, (54-6j), {'plan': '12', 'schime': 23424, 'tv': 24.45}]
after this: ['plan', 'function', (32, 234, 4, 43), (34, 43.4, (4+5j)), 45.66, (54-6j), {'plan': '12', 'schime': 23424, 'tv': 24.45}]
['plan', 'function', (32, 234, 4, 43), 10, 45.66, (54-6j), {'plan': '12', 'schime': 23424, 'tv': 24.45}]
['plan', 'function', (32, 234, 4, 43), 10]
[10]
['function']
['plan']
['plan']

# list method

In [7]:
# (1)lenth

lst_=["sapna",345,34,34.45,34+6j,'rajput']
print(lst_)
print(len(lst_))

['sapna', 345, 34, 34.45, (34+6j), 'rajput']
6

In [8]:
s=[43,34.53343,34-3599j,"sapna is a good girl"]
print(len(s))

4

In [28]:
# (2)append():-the append mathod add a single item to the existing list
#                      or
#     'to add an item to the end of the list use the append () method'
    
    
lst_=["file", "copy","most",23434,355.546,34+43j,"practics"]
lst_.append("546")
print(lst_)
print(len(lst_))

['file', 'copy', 'most', 23434, 355.546, (34+43j), 'practics', '546']
8

In [30]:
name=["sapna rajput",99,445-5j,343+665j,'rajput is the best']
name.append('loyal')
print(name)
print(len(name))

['sapna rajput', 99, (445-5j), (343+665j), 'rajput is the best', 'loyal']
6

In [21]:
# (3)insert():-'to add an item at  the specifid index use the insert()  method'
#     it use to add new item in list valid inde


list_=["sing",'singh','song',345,35.54,34-34j]
print(list_)
list_.insert( 4,'pool')
list_.insert(-1,34)
print(list_)

['sing', 'singh', 'song', 345, 35.54, (34-34j)]
['sing', 'singh', 'song', 345, 'pool', 35.54, 34, (34-34j)]

In [23]:
# (4)remove():-'remove item form a list'or,remove the specifide item:-
sapna=['sapna','good',4324,345-3j,344+34j,34.345,'code']
sapna.remove('good')
sapna.remove(34.345)
print(sapna)

['sapna', 4324, (345-3j), (344+34j), 'code']

In [28]:
# (5)pop method():-remove the specified index(or the last item of index is not specified)
list_=["app","roma","rahul"]
list_.pop()
list_.pop(0)

'app'

In [31]:
# (6)del():-'the del keyword remove the specified index:'
lst=[32,34.34,3433-9j,343,'sapna is a good','mamta']
del lst[-2] 
print(lst)
print(lst[1:3:4])

[32, 34.34, (3433-9j), 343, 'mamta']
[34.34]

In [32]:
this_list=['sappu','she','logic','print']
print(this_list)
del this_list[0]
print(this_list)
print(this_list,'sappu')
print(this_list[0:4])

['sappu', 'she', 'logic', 'print']
['she', 'logic', 'print']
['she', 'logic', 'print'] sappu
['she', 'logic', 'print']

In [3]:
# (7)clear:-'the clear mathod empties the list'

sapna=['adaf',3253425,2424,'klslkgj']
print(sapna)
sapna.clear()
print(sapna)

['adaf', 3253425, 2424, 'klslkgj']
[]

In [24]:
# (8)copy:-'copy a list'/use to copy a dictionary
#     there are two way is to use the built in list mathod copy()


file=['maya','shanvi','neha','mohit']
# myfile=file.copy()
# print(myfile)
lst=file
print(lst)

['maya', 'shanvi', 'neha', 'mohit']

In [19]:
# (9)count:-return the number of occurences of value
post=['sagar','marketing','newplan',854,435,43,43,34.4,'newplan','setup']
a=post.count(34.4)
print(a)

1

In [23]:
# (10)index:-the index() mathod returns the position at the first occurrece of
#     the specified
cards=['invite',7687,98,'shadule','master']
y=cards.index(7687)
y=cards.index('invite')
print(y)

0

In [26]:
# (11)extend:-"add elements of one list to another"

fruits=['apple','graps','nudels','papaya']
veg=('potato','tomato','ladyfinger',34,344-34j,34.34)
fruits.extend(veg)
print(fruits)

['apple', 'graps', 'nudels', 'papaya', 'potato', 'tomato', 'ladyfinger', 34, (344-34j), 34.34]

In [28]:
# (12)reverse:-reverse the order of the list:
x=[24334,24,245,43-6j,34.345,]
x.reverse()
print(x)

[34.345, (43-6j), 245, 24, 24334]

In [29]:
game=['ludo','pubg','templerum']
game.reverse()
print(game)

['templerum', 'pubg', 'ludo']

In [36]:
# (13)sort():-sort the element in list
name=[324,234,2432,23,232,12,123,3,23,23]
name.sort()
print(name)

list=cars[::-1]
print(list)

cars=['a','b','c']
cars.sort(reverse=True)
cars.sort(reverse=False)
print(cars)

[3, 12, 23, 23, 23, 123, 232, 234, 324, 2432]
['c', 'b', 'a']
['a', 'b', 'c']

# 1(c)conditional statement on list

In [71]:
# 'print all item in the list ,one by one:'
this_list=['apple','banana','cherry']
for i in this_list:
    print(i)
    
    
'check if "apple" is present in the list:'
this_list=["spna","priya","salonii"]
if "spna" in this_list:
    print("yes")
else:
    print("no")
print()

apple
banana
cherry
yes

#                   (2)Tuple

In [ ]:
"a tuple is a collection  which is ordered and unchangeable in python tuples are written in round brackets"

(a)getting started
(b)tuple method
(c)what dose not work from tuple
(d)conditional statement tuple

In [2]:
# (a)getting started:-'create a tuple'
lst=('pending','programme','releif',56,567.7,687-8j)
print(lst)
print(type(lst))

('pending', 'programme', 'releif', 56, 567.7, (687-8j))
<class 'tuple'>

In [35]:
# "accessing an element"

print(lst[1])
print(lst[2])


'getting a sub list'
print(lst[0:3])
print(lst[0:2:3])
print(lst[0::1])

34.34
(3433-9j)
[32, 34.34, (3433-9j)]
[32]
[32, 34.34, (3433-9j), 343, 'mamta']

# tuple-method/function

In [12]:
# (1)len()mathod -print the number of item in tuple
tuple_is=('number','is', 'the',245,43554,34-46j,356,536.4534 )
print(len(tuple_is))


mytuple=("my hobby is singing",35345636,356.465,68)
print(len(mytuple))

8
4

In [18]:
# (2)'count()mathod :- return the number of occurences of a value

tuple_side=(3453,345.4,35363,"the number of value",24-24j,'comb')
print(tuple_side.count(3453))
print(tuple_side.count('comb'))

1
1

In [24]:
# (3)'index()method':- return first index of value
x=('sdfjksd','rahul','diksha','rahul',324,324)
print(type(x))
print(len(x))
print(x.index(324))

<class 'tuple'>
6
4

In [31]:
# (4)'the del keyword delete the tuple completly'
this=(324,55.35,5,45,5,6,7.6,'name','sapna','tost')
del this
print(this)

NameError: name 'this' is not defined

# 2(c)what doesn't work for tuples

In [39]:
'add item'
'once a tuple is created,you cannot add item to it tuple are unchangeable'
 
'change item value:'
# thistuple[3]='tiger'
# thistuple


# thistuple=('mango','papaya','orange')
# # thistuple.append('fruits')              error bcoz tuple not allow
# print(thistuple)


'remove item'
'once a tuple is created you can not remove otem in tuple are unchangeable'

# y=(7678,97,44,7.78,87,'mosam')
# print(y)
# print(y.remove(87))          we also find in this case error



'del item at spasific index'
x=('saroj','komal','neelam')
# del(x[0])                    also error tuple not allow
# print(x)
del(x)

# 2(d)conditional statement on tuple

In [66]:
'iterate through the item and print the values:-'
# thistuple=('sappu','rathore','radhe','rani',443,34.43)
# for x in thistuple:
#     print(x)
 
'check if "rathore" is present in this tuple:'
thistuple=("sappu","rathore","radhe")
if "sappu" in thistuple:
    print("yes,'sappu' is in the name tuple")
else:
    print("not in thistuple")
print()

yes,'sappu' is in the name tuple

In [91]:
tuple_=('ajay','rahul','rita','rashmi', 23432,234-34j,43.34,3,3,3)
for y in tuple_:
     print(y)
if 'sapna' in tuple_:
    print("yes 'sapna' in this tuple_")          
else:
    print('not in thi tuple_')
print()

ajay
rahul
rita
rashmi
23432
(234-34j)
43.34
3
3
3
not in thi tuple_

In [94]:
tupletype=("sona rajput",34,35,55,65,65.54,45-54j,54,45,45,45,)
for x in tupletype:
    print(x)
if 54 in tupletype:
    print("yes")
else:
    print("not")

sona rajput
34
35
55
65
65.54
(45-54j)
54
45
45
45
yes

# (3)set

In [ ]:
set is a collection which is unorders unindexed and changeable and 
not allow duplicate members

(a)getting start
(b)set methods
(c)what doesnot work for sets
(d)conditional statements on set

In [4]:
"getting start"
3(a)# "create a set"
set_1={"sappu",8798,876.78,876-8j,"sappu","code"}
print(set_1)

{'code', 'sappu', 876.78, (876-8j), 8798}

# 3(b)set methods function

In [44]:
# "add item to set"
# (1)add method:- add()
set_1={"sapna","manshi",2233,23,32,32,"sapna",34.34}
set_1.add(67.9)
set_1.add("dfef")
print(set_1)

{32, 'manshi', 67.9, 'sapna', 23, 2233, 34.34, 'dfef'}

In [12]:
(2)'add multiple items to a set,using the "update()" method'
set_1={79,9,89-8j,98+9j,89.98,"parul","code","session"}
set_2={"yes","code is here"}
set_1.update(set_2)
print(set_1)
set_2.update(set_1)
print(set_2)

{'yes', (89-8j), 'code', 'parul', 'session', 9, 79, 89.98, 'code is here', (98+9j)}
{'yes', (89-8j), 'code', 'parul', 'session', 9, 79, 89.98, 'code is here', (98+9j)}

In [54]:
# (3)"remove item"
# 'to remove an item in a set, use the "remove()", or the "discard()"
# method'

set1={"jam","trap","net","payal"}
set1.remove("net")
print(set1)
set1.remove("jam")
print(set1)

x={345,456,454,3,25,356,6,77,"rert"}
y={45.454,4545,3,88886,6,868,567}
x.remove(345)
y.remove(567)
print(x)
print(y)
# print(x+y) - error




'discard()'
set1.discard('payal')
print(set1)


x.discard(3)
print(x,y)

y.discard(567)
print(y,x)

{'jam', 'trap', 'payal'}
{'trap', 'payal'}
{3, 356, 454, 6, 456, 'rert', 77, 25}
{4545, 3, 868, 6, 45.454, 88886}
{'trap'}
{356, 454, 6, 456, 'rert', 77, 25} {4545, 3, 868, 6, 45.454, 88886}
{4545, 3, 868, 6, 45.454, 88886} {356, 454, 6, 456, 'rert', 77, 25}

In [58]:
 (4)# 'you can also use the "pop()",method or remove an item, but this method
# 'will remove the last remeber the sets are unordered, so you will not
# 'know what,item that gets remove.

'the return value of the "pop()" methodis the remove the item'

the_set={"pari",234,"sanvi",45.5,"guddu"}
x=the_set.pop()
the_set.pop()
the_set.pop()
the_set.pop()
print(x)
print(the_set)

234
{'sanvi'}

In [60]:
# (5)'difference() - remove all element of another set from this set.'

x_1={34,3,4,5,3,5,6}
x_2={1,3,4,53,34,5}
# x={'sappu',"raju","radha","palm"}
# x1={'test','easy','sappu'}
y_=x_2.difference(x_1)

print(y_)
# x2=x1.difference(x)
# print(x2)



'difference_update() - remove all element of another set from this set.'
'the difference_update() returns none indicating the object (set) is mutated'

a={"sap",'na','will','not','try',23,3,2,5,45}
b={'na',23,5,45,3,333,5,4 ,"test"}
c=a.difference_update(b)
print(a,'\n',b,'\n',c)
print()

{1, 53}
{2, 'will', 'try', 'sap', 'not'}
 {3, 4, 5, 45, 333, 'test', 23, 'na'}
 None

In [63]:
(6)'intersection()- return the intersecttion of two sets an a new set.'
this_set={4,45,54,6,43,}
that_set={34,35,7,6}
inter_set=that_set.intersection(this_set)
print(inter_set)



# 'intersection_update()- return the intersection of two sets as a new set
# 'the intersection_update() return none indicating the object (set)
# is muted.


set={2,4,5,6,78,9}
set1={1,6,8,0,5,4,8,989}
this=set1.intersection_update(set)
print(set1,'\n',set,'\n',this)
print()

{6}
{4, 5, 6}
 {2, 4, 5, 6, 9, 78}
 None

In [10]:
# (7)'union() - return the value of set as a new set.'
myset={1,23,3,4,4,}
thisset={'a','s','t','y'}
union=thisset.union(myset)
print(union)

x=myset.update(thisset)
print(x)


thisset.update(myset)
print(myset)

{1, 't', 3, 's', 'y', 4, 'a', 23}
None
{1, 't', 3, 4, 's', 'y', 'a', 23}

In [21]:
set_1={1,3,4,2,6,7,5}
set_2={5,6,7,'d','s','f','g','k'} 
union_=set_1.union(set_2)
print(union_)

x=set_2.update(set_1)
print(x)

set_1.update(set_2)
print(set_2)

{'g', 1, 2, 3, 4, 5, 6, 7, 'k', 's', 'd', 'f'}
None
{'g', 'k', 1, 2, 3, 5, 6, 7, 4, 's', 'd', 'f'}

In [2]:
# dir(set)

In [26]:
# (8)'isdisjoint()' -'return True if two set have a null intersection.'
my_set={3,5,7,4,2}
your_set={4,5,3,22,5}
print("first operation:",my_set.isdisjoint(your_set))

this_set={6,8}

print("second operation:",my_set.isdisjoint(this_set))


# 'issubset()'-'report whether another set contain this set,'
x={1,4,7,8,3,2}
y={3,2,1}
# y={9,1,2}           #'y' is subset of x when 'y' all eliment are in x
print(y.issubset(x))


# 'issuperset()' -'report whether another set contain another set.'

a={3,56,67,3,7,734.56,4}
b={34,34,6,7,8,99,}
print(a.issuperset(b))


a={'a','b','c',1,4,6,7}
b={'a',1,4}
print(a.issuperset(b))

# note-if b is a subset of a then a is a superset of b

first operation: False
second operation: True
True
False
True

In [28]:
(9)'get len of a set'
'to determine how many item a set has,use the"len()"method.'
myset={34,35,5,34.45,45-45j,45,"sapna",'[2,43,5,]',(23,2345,34)}
print(len(myset))

9

In [29]:
(10)'clear set'
'the "clear()" method empities the set'
your_set={35,"sapna",34-43j,34,"raj",235}
your_set.clear()
print(your_set)

set()

In [36]:
(11)'delete set'
'the del keyword will delete the set completely'
myset={23,3,'a',"sapna",(23,34,43,34.3)}
# print(myset)
del myset

# (3)c what dose't work for sets

In [41]:
# "indexing won't work foe set sincesets are unordered and unindexed"
# that={1,3,3,4}
# print(that[1])


'set do not support duplicate item'
this={3,3,6,4,7,8,3,"sap","na","sap"}
print(this)

{3, 4, 6, 7, 8, 'sap', 'na'}

# 3(d)conditional statements on sets
help access elements of a set also

In [43]:




'loop through this set,and print the values:'
thisset={"sapna",34,"rajput",34-5j,343.3,34+3j,"apple"}
for y in thisset:
    print(y)
    

'check if an item present in the set'
myset={23,23,"ajlsd",345634,"koml","aashu"}
if 23 in myset:
    print("yes")
else:
    print("no")

34
sapna
apple
(34+3j)
rajput
(34-5j)
343.3
yes

# 4 dictionaries

In [ ]:
dictionary is a collection which is unorderd,chandeable ans support
duplicate values.
in python dictionary is written with curly brackets.and they have key
and values


(a)getting start 
(b)dictionary mathod
(c)control flow using dictionary

# (a)getting start

In [10]:
### 'creating a list'
this_dict={"sapna":"rajput","room":"clean","pen":"book"}
print(this_dict)


'accessing an element'
a=this_dict["room"]
#  a=this_dict[2]  #there are indexing in "key" and "value"
# print(a)
print(a)


# 'changing and adding a value in the dictionary'
# this_dict={"more":"then","number":2435,"sapna":"math"}
# this_dict["more"]=23445
# this_dict["then"]=23-4j
# this_dict["cool"]="hot"
# print(this_dict)

{'sapna': 'rajput', 'room': 'clean', 'pen': 'book'}
clean

# 3(b)dictionary method

In [11]:
'get() accessing an element'
this_dict={"sapna":"rajput","room":"clean","pen":"book"}
a=this_dict.get('sapna')
print(a)

room=this_dict.get('room')
print(room)



'update() add item of one dict into another'
this_dict={"sapna":"rajput","room":87.8,"pen":7576}
that_dict={"shoot":'red',45545:4555555}
this_dict.update(that_dict)
print(this_dict)

rajput
clean
{'sapna': 'rajput', 'room': 87.8, 'pen': 7576, 'shoot': 'red', 45545: 4555555}

In [5]:
'removing item from the dictionary'
'the pop() method remove the item with the specified key name:'
this_dict={"name":"sapna","mom":"dad",3453:34,34:45}
this_dict.pop("name")
print(this_dict)
# print(this_dict.values())
  

'popitem() - remove and return some{key,value} pair as a tuple'
_mydict={"toy":"baby","number":4899,"sapna":8478}
item=_mydict.popitem()
print(item,_mydict)

{'mom': 'dad', 3453: 34, 34: 45}
('sapna', 8478) {'toy': 'baby', 'number': 4899}

In [1]:
print(bool("abc"))

True

In [6]:
"keys() - a set like object providing a view on dicionary's keys"
this_dict={"kite":"like","walk":"ride","weather":2442}
print(this_dict.keys())

dict_keys(['kite', 'walk', 'weather'])

In [13]:
"values() - an object providing a view on dictionary's value"
my_dict={"name":"sapna","last":"night","view":43}
print(my_dict.values())
print(type(my_dict))



x={"23":23.4,"32":23-4j,"fly":232,"234":2}
print(x.items())
print(type(x.items))

dict_values(['sapna', 'night', 43])
<class 'dict'>
dict_items([('23', 23.4), ('32', (23-4j)), ('fly', 232), ('234', 2)])
<class 'builtin_function_or_method'>

# 4(c)control flow using dictionaries

In [17]:
'print all key name in the dictionary,one by one:'
this_dict={"sapna":"code","colon":"paranthies","single":"double"}
for h in this_dict:
    print(h)
    
'print all value in the ditionary, one by one:'
this_dict={"sapna":"mam","red":"orange","buy":"sell"}
for i in this_dict.values():
    print(i)
    
    
'check if a key is there in the dictionary'
my_={"sapna":"mam","red":"orange","buy":"sell"}
if "sapna" in my_:
    print("yes")
else:
    print("no")
    
    
'check if a value is there in the dictionary'
if "red" in my_.values():
    print('yes')
    
else:
    print("no")
          

        
this_list=[24.5,35,345,"papa",45345,35-4j,]

sapna
colon
single
mam
orange
sell
yes
no

In [14]:
'converting a datatype to another'

lst_1=["sapna",3453,"sham","rita",56,5,4,6,7,5]
tuple_=tuple(lst_1)
print(tuple_)
print(type(lst_1)),print(type(tuple_))

set2=set(lst_1)
print(set2)
print(type(set2))

lst=list(set2)
print(lst)

lst=list(tuple_)
print(lst)
print(type(lst))

set_1=set(tuple_)
print(set_1)
print(type(set_1))


tuple2=tuple(set_1)
print(tuple2)
print(type(tuple2))

('sapna', 3453, 'sham', 'rita', 56, 5, 4, 6, 7, 5)
<class 'list'>
<class 'tuple'>
{4, 5, 6, 7, 'rita', 'sham', 56, 'sapna', 3453}
<class 'set'>
[4, 5, 6, 7, 'rita', 'sham', 56, 'sapna', 3453]
['sapna', 3453, 'sham', 'rita', 56, 5, 4, 6, 7, 5]
<class 'list'>
{4, 5, 6, 7, 'rita', 'sham', 56, 'sapna', 3453}
<class 'set'>
(4, 5, 6, 7, 'rita', 'sham', 56, 'sapna', 3453)
<class 'tuple'>

In [ ]:
'''content
1.if conditions
2.while loops
3.functions
4.practice questions'''
print()

# 1. if conditions

In [ ]:
python condition and if statements

python supports the usal coparision conditions from mathematics



equals: a=b

not equales: a!= b

less then: a < b

less then or equal to: a <= b
    
greater then: a > b
    
greater than or equal to: a >= b
    
    
these condition can be used in servel ways, most commonly
"if statement" and loops.

an "if statement" is written by using the if keyword.

In [ ]:
'syntax'
if condition:
    statements to be executed
elif condition:
    statements to be executed
else :
    statements to be executed

In [9]:
'basic example'

a=34
b=20

if a>b:
    print("sorry a is greater then 20")
    
elif a<b:
    print("a is less then b")
     
else:
    print("error")
print()

sorry a is greater then 20

In [9]:
a="monday"
b="monday"
if a==b :
    print("yes a and is equal ")
elif a!=b:
    print("no  a and b is not equal")
    print("no")
else:
    print("today is holiday")

yes a and is equal

In [22]:
''' input 2 number from the user and print out the greater'''
a=int(input('enter first number'))
b=int(input('enter second number'))


# if a>b:
#     print('yes is greater then')
    
# elif a<b:
#     print('no is not')
    
# else:
#     print('error')
    
    
    
    
    
    
if a>b:
    print(f"{a} is greater")
    print(f" a and b addition is {a+b}")
    if a+b==68:
        print("True")
    
    
elif b>a:
    print(f" {b} is greater")

else:
    print(f"{a} is equal to {b}")

enter first number45
enter second number23
45 is greater
 a and b addition is 68
True

In [23]:
x= int(input('enter your 1st number'))
y= int(input('enter your 2nd number'))

if x>y:
    print("its true x is greater then y")
#     print(f"sum of a and b is {x+y}")
#     print('sum % a and b %' %('of','like'))
        
elif x==y:
        print(f"this is equal {x} and {y}")

enter your 1st number24
enter your 2nd number24
this is equal 24 and 24

In [25]:
'''if there is only one statement to be executed,
thr if condition are statement can be written in the same line'''


a=24
b=79

if a<b:print("yes")
    
elif a==b:print('it is equal')
    
else :print('b is greater then a')

yes

In [28]:
a="sapna rajput"
b=346
if a==b:print(f"a and b is equal")
elif a!=b:print("no")
else:print("error")

no

In [27]:
'''another way to writing one line if statements'''

a,b= 20,26     #multiple assine
 
print('right') if a>b else print("b")

b

In [32]:
a=234535
b=43
c=21
print('yess') if a>b else print('wrong')
print('no ')if c<a else print('yes')
print("ryt")if b>a else print('not')

yess
no
not

In [37]:
a=30
b=78
print("a") if a>b else print("error") if a==b else print("b")  #ask question

b

In [33]:
'''input three number from the user and print out the greatest'''

a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
c=int(input("enter 3rd number"))

if a>b:
    print("a is greater then b")
print("yes")
if a>b<c:
    print('false')
elif a==b:
    print(" a is equal to b")
elif a==b==c:
    print("its right")
else:
    print("error")

enter 1st number12
enter 2nd number56
enter 3rd number8
yes
error

In [42]:
'if else for collection datatypes'

l=[1,3,5,8,9,23]
i=23

if i in l:
     print('element i  in list')
        
else:
    print('element not list')
    
    
# d = {4:78,3:67}
# if i in d.keys():
#        print('True')
        
        
d= {23:2,"sapna":234}
if 23 in d.keys():
    print('sappu')
    
if 234 in d.values():
    print("ryt")

element i  in list
sappu
ryt

# 2 while loops

In [4]:
# with the while loop we can execute a set of statements as long as a
# condition


'''print hi 5 times'''
num = 1
while (num<=6):
    print(num, end = ' ')
    num = num+1

1 2 3 4 5 6

In [3]:
a=15
while (a<=30):
    print(a, end=' ')
    a= a+1

15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [2]:
x=100
while(x>=10):
    print(x,end = ' ')
    x= x-1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10

In [2]:
n=10
while(n<=15):
    print(n**2 , end = ' ')
    n= n+1

100 121 144 169 196 225

In [5]:
### '''print integer from 0 to 40'''
num=0
while (num<41):
    print(num, end = ' ')
    num = num+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [1]:
n=1
while (n<=30):
    print(n,end =' ')
    n= n+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [1]:
num = 1
while (num<=42):
    print(num, end = ' ')
    num = num+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42

In [7]:
num = 2
while (num<=20):
    print(num, end= ' ')
    num = num+2

2 4 6 8 10 12 14 16 18 20

In [13]:
'''print integer divisible by 5 between 1 to 100'''
n=1
while (n<=200):
    if n%5 == 1:
        print(n,end= ' ')
    n += 1

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96 101 106 111 116 121 126 131 136 141 146 151 156 161 166 171 176 181 186 191 196

In [5]:
n=1
while (n<=200):
#     if n%3 == 0:
        if n%3 == 1:
            print(n,end = ' ')
        n= n+2

1 7 13 19 25 31 37 43 49 55 61 67 73 79 85 91 97 103 109 115 121 127 133 139 145 151 157 163 169 175 181 187 193 199

In [1]:
n = 1
while (n<=100):
    if n%5 == 0:
        print(n,end= ' ')
    else:
        pass
    n = n+1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [3]:
# *
# **
# ***
# ****
   
    
n = 1
while(n<=1):
    print("*")
    print("**")
    print("***")
    print("****")
    n= n+1

*
**
***
****

In [3]:
# *
# **
# ***
# ****

num = 1
while(num<=5):
    if num == 1:
        print("*")
    elif num ==2:
        print("**")
    else:
        pass
    num = num+1

*
**

In [ ]:
num = 0
while(num<=5):
    num_= 1
    while(num_<=num):
        print(f"*",end = " ")
        
        num_= num_+1
        num = num+1
        print()

In [5]:
# *
# **
# ***
# ****
# *****


num=1
while(num<=5):
    if num == 1:
        print("*")
    elif num == 2:
        print("**")
    elif num == 3:
        print("***")
    elif num == 4:
        print("****")
    elif num == 5:
        print("******")
    else:
        pass
    num = num+1

*
**
***
****
******

In [2]:
'''print integer from 0 to 40'''
num= -100
while (num<=41):
    print(num,end = ' ')
    num = num+1

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41

In [1]:
'''print integer from 100 to 0 which are divisible by 5.'''
num = 100
while (num>=0):
    if num%5==0:
        print(num, end = ' ')
    else:
        pass
    num = num -1

100 95 90 85 80 75 70 65 60 55 50 45 40 35 30 25 20 15 10 5 0

In [3]:
'''print integer divisible by 5 between 1 to 100'''
n=1
while (n<=200):
    if n%5 == 0:
        print(n,end = ' ')
    n += 1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200

In [4]:
'''print integer divisible by 5 between 1 to 100'''

num = 1
while(num<100):
    if num%5 == 0:
        print(num,end = ' ')
    else:
        pass 
    num = num+1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [2]:
'''print squares of integers between 0 to 10'''
x=0
while (x<=10):
    print(x**2, end= ' ')
    x = x+1

0 1 4 9 16 25 36 49 64 81 100

In [4]:
x= 1
while (x<=20):
    print(x*3,end = ' ')
    x=x+1

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60

In [7]:
num = 3
while(num<35):
    print(num,end = ' ')
    num = num+3

3 6 9 12 15 18 21 24 27 30 33

In [8]:
''' check exit value of iterator'''
count=1
while(count < 50):
    print(count, end = ' ')
    count = count + 1
    
print("\nexit  value:",count)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
exit  value: 50

In [19]:
'''keep popping items from list till element e=10 is popped
list = [34,345,66,89,76,45]'''

s=[34,345,66,89,76,45]
i=34
while i in s:
    s.pop()
    print(s)

[34, 345, 66, 89, 76]
[34, 345, 66, 89]
[34, 345, 66]
[34, 345]
[34]
[]

In [17]:
'''looping through collective datatypes'''
file=['invite','codesession','movement','collection']
print(len(file))
num= 0
while num<len(file):
    print("my all file",file[num])
    num= num+1

4
my all file invite
my all file codesession
my all file movement
my all file collection

# 3.for loop

A for loop is used for iterating over a sequence ( that is either 
a  list, a tuple, a dict, a set, or a string) 
                                                 
this is less like the for keyword in other programming language,
and works more like an iterator method as found in other object 
orientated programming languages

with the for loop we can excute a set of statements ,once for each
 item in a lsit,tuple, set etc.

In [17]:
list_=[ 23,34,567,2.5,"asd",23,5,7,98]
print(len(list_))


for x in list_:
    print(x, end =" ")

#     print(x)

for x in range(len(list_)):
    print(x)

9
23 34 567 2.5 asd 23 5 7 98 0
1
2
3
4
5
6
7
8

In [20]:
# for y in (1,25):
#     print("sapna:",y)
    
for x in range (1,10):
    print("rajput:",x)

rajput: 1
rajput: 2
rajput: 3
rajput: 4
rajput: 5
rajput: 6
rajput: 7
rajput: 8
rajput: 9

In [23]:
for d in range(14):
    print(f" r: {d}")

 r: 0
 r: 1
 r: 2
 r: 3
 r: 4
 r: 5
 r: 6
 r: 7
 r: 8
 r: 9
 r: 10
 r: 11
 r: 12
 r: 13

In [25]:
for num in range (10):
    print("hello sapna",end = '')

hello sapnahello sapnahello sapnahello sapnahello sapnahello sapnahello sapnahello sapnahello sapnahello sapna

In [2]:
x_ = [1,2,3,4,5,6,7,8,9,1034,56,7,67,9,4,3,222,34]

for i in range(len(x_)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [3]:
for i in range(1,15):
    print(f" a : {i}" , end = ' ')

 a : 1  a : 2  a : 3  a : 4  a : 5  a : 6  a : 7  a : 8  a : 9  a : 10  a : 11  a : 12  a : 13  a : 14

In [20]:
for t in range (100,9,-2):
    print(t)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10