In [4]:
a=20
b=80
c=80
x=a+b
print(x)

100

In [6]:
number_1=10
number_2=30
x=number_1+number_2
print(x)

40

In [5]:
 x=input("what is your name ")
y=input("what is your school name")
print(y)

what is your name sapna rajput
what is your school nameswami ganga bharti senior sec school

In [ ]:
*Data type
(1)None
(2)Numeric
(3)text

In [3]:
 x=None
y=None
print(x ,y)

None None

In [8]:
x=1
y=None
print(type(y))

<class 'NoneType'>

In [34]:
x=4324
y=443.55
z=34.35j
r=x+y+z
print(r)
print(x,type(x))

(4767.55+34.35j)
4324 <class 'int'>

In [35]:
x="hii hello world " 
y="who is she"
print(x,type(x))
print(y,type(y))

hii hello world  <class 'str'>
who is she <class 'str'>

In [41]:
x=77589
y=75878
z=49.556
q=45-5j
w=x+y+z+q
print(w)
print(x,type(x))
print(y,type(y))
print(z,type(z))
print(q,type(q))

(153561.556-5j)
77589 <class 'int'>
75878 <class 'int'>
49.556 <class 'float'>
(45-5j) <class 'complex'>

In [43]:
p=5876.6856
q=894875
r=355-56j
s=p+q+r
print(p,type(p))
print(s)

5876.6856 <class 'float'>
(901106.6856-56j)

In [46]:
s=True
p=75-8j
q=s+p
print(q)
print(s,type(s))
print(p,type(p))

(76-8j)
True <class 'bool'>
(75-8j) <class 'complex'>

In [49]:
x="who"
y='true'
z=x+y
print(z)
print(x,type(x))
print(y,type(y))

whotrue
who <class 'str'>
true <class 'str'>

In [51]:
x=43343
y=45.676
z=-45+56j
a=x+y+z
print(a)
print(x,type(x))
print(y,type(y))
print(z,type(z))

(43343.676+56j)
43343 <class 'int'>
45.676 <class 'float'>
(-45+56j) <class 'complex'>

In [53]:
x="where are u from " 
y="i am from alwar "
print(x,y)
print(x,type(x))

where are u from  i am from alwar
where are u from  <class 'str'>

In [56]:
x="sapna"
y="rajput"
print(x,y)

sapna rajput

In [57]:
x=15
x="python"
print(x)

python

In [59]:
a=r"how are you/n fine"
print(a)

how are you/n fine

In [60]:
a="what  is  your  name"
print(len(a))
print(a[10])

20
y

In [12]:
x=54653
y=543
z=536
a=x+y+z
print(a)

55732

In [28]:
x=-3+5j
y=3-8j
z=566.65
s=True
r=x+y+z+s
print(x,type(x))
print(y,type(y))
print(z,type(z))
print(s,type(s))

(-3+5j) <class 'complex'>
(3-8j) <class 'complex'>
566.65 <class 'float'>
True <class 'bool'>

In [29]:
x=True
print(type(x))

<class 'bool'>

In [33]:
s=88477
d=-3-8j
h=464.54
print(s,type(s))
print(d,type(d))
print(h,type(h))
print(s,d,h)

88477 <class 'int'>
(-3-8j) <class 'complex'>
464.54 <class 'float'>
88477 (-3-8j) 464.54

In [32]:
q=454543
w=43567
print(q,type(q))

454543 <class 'int'>

In [6]:
x=input("enter a number")
y=input("enter your name")
print(x)
print(y)

enter a number44445
enter your namerajni
44445
rajni

In [ ]:
x=input("enter a number")
y=input

In [10]:
x = input("enter a number")
y= "10"
z = x+y
print("sum of x and y is :",z)

enter a number123
sum of x and y is : 12310

In [16]:
sanju = input(" enter your school name :") # input("school name")
print("sanju your school name is : ",sanju)

 enter your school name :samnju
school namesasa
sanju your school name is :  samnju

# **string
1)string
2)indexing in string 
3) string mathod/function
4)string formating

In [70]:
"""single quotes use inside double quotes"""
a = "welcome to 'all of you'"
print(a)

welcome to 'all of you'

In [71]:
"""double quotes use inside single quotes"""
b='my hobby "is listening music"'
print(b)

my hobby "is listening music"

In [83]:
a = "this 'is like' drama"
print(a)

this 'is like' drama

In [98]:
a= """jkdjkjkdvkjkf
kjfkjksjfkj"""
print(a)

jkdjkjkdvkjkf
kjfkjksjfkj

# /n use for new line

In [100]:
a="hello world \n sapna"
print(a)

hello world
 sapna

In [102]:
a="what are u doing now \n i am sleeping"
print(a)

what are u doing now
 i am sleeping

In [108]:
b=R"i am soo excited \n do u know"
print(b)

i am soo excited \n do u know

# **indexing in string

In [115]:
a="how are you payal"
print(len(a))
print(a[10])
print(a[-2])
print(a[8])
print(a[7])
print(a[-5])

17
u
a
y

p

In [124]:
b="i am doing some work can u help me"
print(len(b))
print(b[-15])
print(b[17])

34
k
o

# **string mathod function

In [17]:
a="hi hello"
print(len(a))

8

In [133]:
# the lower()mathod returnes the string in lower case.
b="HELLO WORLD"
print(b.lower())

hello world

In [134]:
a="I AM A PROGRAMMER"
print(a.lower())

i am a programmer

In [137]:
#the upper mathod()returens the string in upper case.
a="i want to  be a software doveloper"
print(a.upper())

I WANT TO  BE A SOFTWARE DOVELOPER

In [ ]:
# the strip mathod()remove the any whitespace from the begining or ending the string

In [140]:
a= "hii, hello "
print(a.strip())

hii, hello

In [138]:
a="  hello what happend  "
print(a.strip())

hello what happend

In [ ]:
#lstrip

In [146]:
a="  where are u from dear ? "
b= "i am form india"
print(a.lstrip(),b)

where are u from dear ?  i am form india

In [ ]:
#the rplace() mathod replace a string with another string

In [149]:
a="hello,world ,world,world"
print(a.replace("world","city"))

hello,city ,city,city

In [152]:
b="my name is smayra, smyra, sappu ,sappu"
print(b.replace("smayra","sapana"))

my name is sapana, smyra, sappu ,sappu

In [ ]:
#split =the mathod split is the string into substring if it finds

In [153]:
a="hello ,world "
b=a.split("l")
print(b)

['he', '', 'o ,wor', 'd ']

In [154]:
name="my name is sapna"
age=name.split("a")
print(age)

['my n', 'me is s', 'pn', '']

In [ ]:
#capitalize

In [15]:
a = 'hello gyus' 
print(a.capitalize())

Hello gyus

In [27]:
a="""my name is"sapna and what"is your name"""
print(a)

my name is"sapna and what"is your name

In [31]:
a="hello world \n sapna"
print(a)

hello world
 sapna

In [29]:
b=r"what are you doing\n dancing"
print(b)

what are you doing\n dancing

In [34]:
a="hello sapna what is your name"
print(len(a))
print(a[-8])

29
o

In [35]:
a="what is this"
print(a.upper())

WHAT IS THIS

In [36]:
a="HELLO SAPPU "
print(a.lower())

hello sappu

In [37]:
a=" what are you saying   "
print(a.strip())

what are you saying

In [38]:
a="what is name"
b="my name is pappu"
print(a.lstrip(),b)

what is name my name is pappu

In [40]:
a="hello,whole,well,well,whole"
print(a.replace("well","sappu"))

hello,whole,sappu,sappu,whole

In [41]:
a="hii good"
b=a.split("o")
print(b)

['hii g', '', 'd']

In [42]:
a="here come"
print(a.capitalize())

Here come

In [46]:
a="what,which"
print(a.strip())

what,which

# **string formating

In [52]:
a=int(input(''))
b=int(input(''))
print('my age is',a-b )
print(f'my age is {a-b} {a}') 

x="this article {1} is written in {0} {2} "
print(x.format("hi","a",b))

12
13
my age is -1
my age is -1 12
this article a is written in hi 13

In [68]:
a=13
print('i am %i from codesession academy' %14,12)
print('hi',a,'how r you')

i am 14 from codesession academy 12
hi 13 how r you

In [80]:
print("i am %s from %s %.4f" %("sapna","alwar",12))

i am sapna from alwar 12.0000

In [88]:
x,y,z,w = 'sapna','rajgsarh','alwar',10, 16
print("i am %s from %s %s"%(x,y,z,w))

ValueError: too many values to unpack (expected 4)