In [6]:
number_1=10
number_2=30
x=number_1+number_2
print(x)

40

In [5]:
 x=input("what is your name ")
y=input("what is your school name")
print(y)

what is your name sapna rajput
what is your school nameswami ganga bharti senior sec school

In [ ]:
*Data type
(1)None
(2)Numeric
(3)text

In [3]:
 x=None
y=None
print(x ,y)

None None

In [8]:
x=1
y=None
print(type(y))

<class 'NoneType'>

In [34]:
x=4324
y=443.55
z=34.35j
r=x+y+z
print(r)
print(x,type(x))

(4767.55+34.35j)
4324 <class 'int'>

In [35]:
x="hii hello world " 
y="who is she"
print(x,type(x))
print(y,type(y))

hii hello world  <class 'str'>
who is she <class 'str'>

In [41]:
x=77589
y=75878
z=49.556
q=45-5j
w=x+y+z+q
print(w)
print(x,type(x))
print(y,type(y))
print(z,type(z))
print(q,type(q))

(153561.556-5j)
77589 <class 'int'>
75878 <class 'int'>
49.556 <class 'float'>
(45-5j) <class 'complex'>

In [43]:
p=5876.6856
q=894875
r=355-56j
s=p+q+r
print(p,type(p))
print(s)

5876.6856 <class 'float'>
(901106.6856-56j)

In [46]:
s=True
p=75-8j
q=s+p
print(q)
print(s,type(s))
print(p,type(p))

(76-8j)
True <class 'bool'>
(75-8j) <class 'complex'>

In [49]:
x="who"
y='true'
z=x+y
print(z)
print(x,type(x))
print(y,type(y))

whotrue
who <class 'str'>
true <class 'str'>

In [12]:
x=54653
y=543
z=536
a=x+y+z
print(a)

55732

In [28]:
x=-3+5j
y=3-8j
z=566.65
s=True
r=x+y+z+s
print(x,type(x))
print(y,type(y))
print(z,type(z))
print(s,type(s))

(-3+5j) <class 'complex'>
(3-8j) <class 'complex'>
566.65 <class 'float'>
True <class 'bool'>

In [29]:
x=True
print(type(x))

<class 'bool'>

In [33]:
s=88477
d=-3-8j
h=464.54
print(s,type(s))
print(d,type(d))
print(h,type(h))
print(s,d,h)

88477 <class 'int'>
(-3-8j) <class 'complex'>
464.54 <class 'float'>
88477 (-3-8j) 464.54

In [32]:
q=454543
w=43567
print(q,type(q))

454543 <class 'int'>

In [6]:
x=input("enter a number")
y=input("enter your name")
print(x)
print(y)

enter a number44445
enter your namerajni
44445
rajni

In [ ]:
x=input("enter a number")
y=input

In [10]:
x = input("enter a number")
y= "10"
z = x+y
print("sum of x and y is :",z)

enter a number123
sum of x and y is : 12310

In [16]:
sanju = input(" enter your school name :") # input("school name")
print("sanju your school name is : ",sanju)

 enter your school name :samnju
school namesasa
sanju your school name is :  samnju

In [17]:
print("sapna rajput") #print function use

sapna rajput